:root {
    --text: #664300;
    --color2: #a87b05;
    --color3: #efb810;
    --color4: #f9db5c;
    --bg-light: #ffffb1;

    --color6: #f7d875;
    --color0: #756100;
}

h1 {
    color: var(--text);
    background-image: linear-gradient(var(--bg-light), 10px, var(--color6))

}
