<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Gestão de Eventos</title>
    <style>
        .form-container {
            display: grid;
            grid-template-columns: auto 200px;
            justify-content: start;
        }
    </style>
</head>

<body>
    <header>
        <h1>EventSystem</h1>
    </header>

    <main>
        <div class="form-container">            
            <label>ID</label>
            <input type="text" name="txtid" id="txtid">
            
            <label>Titulo</label>
            <input type="text" name="txtid" id="txtid">
            
            <label>Descricao</label>
            <input type="text" name="txtid" id="txtid">
            
            <label>Data</label>
            <input type="text" name="txtid" id="txtid">
            
            <label>Horario Inicio</label>
            <input type="text" name="txtid" id="txtid">
            
            <label>Horario Termino</label>
            <input type="text" name="txtid" id="txtid">

            <label>Endereco</label>
            <input type="text" name="txtid" id="txtid">
            
            <label>Qtd. Ingressos</label>
            <input type="text" name="txtid" id="txtid">
            
            <label>Preço Ingresso</label>
            <input type="text" name="txtid" id="txtid">
            
            <label>Organizador</label>
            <input type="text" name="txtid" id="txtid">
        </div>
        <div>
            <button id="btn-voltar">
                Voltar
            </button>
            <button id="btn-atualizar">
                Atualizar Evento
            </button>
        </div>
    </main>

    <footer>
        <p>Criado por Enrico de Andrade</p>
        <a target="_blank" href="https://icons8.com/icon/BsNkc7jnuBPU/trash-can">Remove</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </footer>
    <script type="text/javascript" src="../assets/javascript/deleteevent.js"></script>
</body>

</html>