<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/imgs/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/styles/updateevent.css">
    <title>Gestão de Eventos</title>
</head>

<body>
    <header>
        <h1>Atualizar Evento</h1>
    </header>
    <main>
        <h2>Evento</h2>
        <a href="listallevents.html">
          << Voltar
        </a>
        <form id="form" onsubmit="return false">
          <div id="form-container">
            <label id="lbl-id">ID</label>
            <input type="number" name="id" id="id" tabindex="1" readonly>

            <label id="lbl-titulo">Título</label>
            <input type="text" name="titulo" id="titulo" maxlength="30" tabindex="2" required>
    
            <label id="lbl-descricao">Descrição</label>
            <input type="text" name="descricao" id="descricao" maxlength="100" tabindex="3" required>

            <label id="lbl-organizador">Organizador</label>
            <input type="text" name="organizador" id="organizador" maxlength="35" tabindex="4" required>

            <label id="lbl-endereco">Endereço</label>
            <input type="text" name="endereco" id="endereco" maxlength="100" tabindex="5" required>
    
            <label id="lbl-data">Data</label>
            <input type="date" name="data" id="data" tabindex="6" required>
    
            <label id="lbl-inicio">Início</label>
            <input type="time" name="horarioInicio" id="horarioInicio" tabindex="7" required>
    
            <label id="lbl-termino">Término</label>
            <input type="time" name="horarioTermino" id="horarioTermino" tabindex="8" required>

            <label id="lbl-qtd">Qtd. Ingressos</label>
            <input type="number" name="qtdIngressos" id="qtdIngressos" min="0" tabindex="9" required>
    
            <label id="lbl-preco">Preço do Ingresso</label>
            <input type="number" name="precoIngresso" id="precoIngresso" min="0" tabindex="10" required>
    

          </div>
          <div id="button">        
            <button type="submit" form="form" id="btn-cadastrar" tabindex="11">
              Atualizar
            </button>
          </div>
        </form>
    
      </main>

    <script type="text/javascript" src="../assets/javascript/updateevent.js"></script>
</body>

</html>