<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestão de Eventos</title>
</head>
<body>

    <header>
        <h1>EventSystem</h1>
    </header>

    <main>
        <h2>Seja Bem Vindo</h2>
        <div>
            <img src="" alt="Banner">
        </div>
        <a href="listallevents.html">
            <button>
                Entrar
            </button>
        </a>
    </main>

    <footer>
        <p>Criado por Enrico de Andrade</p>
    </footer>
</body>
</html>